.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
codigos_professor_aulas/.prettierrc.json
codigos_professor_aulas/codigo-aulas.zip
codigos_professor_aulas/.vscode/launch.json
codigos_professor_aulas/.vscode/settings.json
codigos_professor_aulas/c01-preparacao/a04-primeiro-projeto/index.html
codigos_professor_aulas/c02-html/a02-texto-imagens-links/estrela.png
codigos_professor_aulas/c02-html/a02-texto-imagens-links/index.html
codigos_professor_aulas/c02-html/a02-texto-imagens-links/pagina2.html
codigos_professor_aulas/c02-html/a02-texto-imagens-links/imagens/cachorro.png
codigos_professor_aulas/c02-html/a02-texto-imagens-links/imagens/html-5.png
codigos_professor_aulas/c02-html/a02-texto-imagens-links/subpasta/pagina3.html
codigos_professor_aulas/c02-html/a03-outros-elementos/containeres.html
codigos_professor_aulas/c02-html/a03-outros-elementos/formularios.html
codigos_professor_aulas/c02-html/a03-outros-elementos/listas.html
codigos_professor_aulas/c02-html/a03-outros-elementos/tabelas.html
codigos_professor_aulas/c03-css/a01-introducao/exemplo-1.css
codigos_professor_aulas/c03-css/a01-introducao/exemplo-1.html
codigos_professor_aulas/c03-css/a02-seletores-css/1-seletor-elemento.html
codigos_professor_aulas/c03-css/a02-seletores-css/2-seletor-todos.html
codigos_professor_aulas/c03-css/a02-seletores-css/3-seletor-classe.html
codigos_professor_aulas/c03-css/a02-seletores-css/4-seletor-id.html
codigos_professor_aulas/c03-css/a02-seletores-css/5-seletor-descendente-filho.html
codigos_professor_aulas/c03-css/a02-seletores-css/6-seletor-irmao.html
codigos_professor_aulas/c03-css/a02.1-desafio-estilizar-lista/base/index.html
codigos_professor_aulas/c03-css/a02.1-desafio-estilizar-lista/base/lista.css
codigos_professor_aulas/c03-css/a02.1-desafio-estilizar-lista/base/roteiro.md
codigos_professor_aulas/c03-css/a02.1-desafio-estilizar-lista/solucao/index.html
codigos_professor_aulas/c03-css/a02.1-desafio-estilizar-lista/solucao/lista.css
codigos_professor_aulas/c03-css/a02.1-desafio-estilizar-lista/solucao/roteiro.md
codigos_professor_aulas/c03-css/a03-dimensionamento-posicionamento/1-block-vs-inline.html
codigos_professor_aulas/c03-css/a03-dimensionamento-posicionamento/2-text-align.html
codigos_professor_aulas/c03-css/a03-dimensionamento-posicionamento/3-vertical-align.html
codigos_professor_aulas/c03-css/a03-dimensionamento-posicionamento/4-inline-block.html
codigos_professor_aulas/c03-css/a03-dimensionamento-posicionamento/img1.png
codigos_professor_aulas/c03-css/a04-posicionamento-fora-normal-flow/1-position-relative.html
codigos_professor_aulas/c03-css/a04-posicionamento-fora-normal-flow/2-position-absolute.html
codigos_professor_aulas/c03-css/a04-posicionamento-fora-normal-flow/3-position-fixed.html
codigos_professor_aulas/c03-css/a05-flexbox/1-flex-direction.html
codigos_professor_aulas/c03-css/a05-flexbox/2-justify-content.html
codigos_professor_aulas/c03-css/a05-flexbox/3-align-items.html
codigos_professor_aulas/c03-css/a05-flexbox/4-flex-grow-shrink-basis.html
codigos_professor_aulas/c03-css/a05-flexbox/5-flex-wrap.html
codigos_professor_aulas/c03-css/a05-flexbox/flexbox.css
codigos_professor_aulas/c03-css/a05.1-desafio-stack-overflow/base/sprites.svg
codigos_professor_aulas/c03-css/a05.1-desafio-stack-overflow/base/stackoverflow.css
codigos_professor_aulas/c03-css/a05.1-desafio-stack-overflow/base/stackoverflow.html
codigos_professor_aulas/c03-css/a05.1-desafio-stack-overflow/solucao/sprites.svg
codigos_professor_aulas/c03-css/a05.1-desafio-stack-overflow/solucao/stackoverflow.css
codigos_professor_aulas/c03-css/a05.1-desafio-stack-overflow/solucao/stackoverflow.html
codigos_professor_aulas/c04-js-basico/a01-introducao/index.html
codigos_professor_aulas/c04-js-basico/a01-introducao/script1.js
codigos_professor_aulas/c04-js-basico/a02-valores-e-tipos/index.html
codigos_professor_aulas/c04-js-basico/a02-valores-e-tipos/objetos.js
codigos_professor_aulas/c04-js-basico/a02-valores-e-tipos/primitivos.js
codigos_professor_aulas/c04-js-basico/a02-valores-e-tipos/valor-vs-referencia.js
codigos_professor_aulas/c04-js-basico/a04-funcoes-e-escopo/index.html
codigos_professor_aulas/c04-js-basico/a04-funcoes-e-escopo/script.js
codigos_professor_aulas/c04-js-basico/a04-funcoes-e-escopo/script2.js
codigos_professor_aulas/c04-js-basico/a05-comandos-decisao/index.html
codigos_professor_aulas/c04-js-basico/a05-comandos-decisao/script.js
codigos_professor_aulas/c04-js-basico/a06-comandos-de-repeticao/index.html
codigos_professor_aulas/c04-js-basico/a06-comandos-de-repeticao/script.js
codigos_professor_aulas/c04-js-basico/a06.1-desafio-palindromo/base/index.html
codigos_professor_aulas/c04-js-basico/a06.1-desafio-palindromo/base/palindromo.js
codigos_professor_aulas/c04-js-basico/a06.1-desafio-palindromo/solucao/index.html
codigos_professor_aulas/c04-js-basico/a06.1-desafio-palindromo/solucao/palindromo.js
codigos_professor_aulas/c05-interacao-com-dom/a01-interacao-basica/index.html
codigos_professor_aulas/c05-interacao-com-dom/a01-interacao-basica/soma.js
codigos_professor_aulas/c05-interacao-com-dom/a02-eventos/index.html
codigos_professor_aulas/c05-interacao-com-dom/a02-eventos/soma.js
codigos_professor_aulas/c05-interacao-com-dom/a03-criando-elementos/index.html
codigos_professor_aulas/c05-interacao-com-dom/a03-criando-elementos/script.js
codigos_professor_aulas/c05-interacao-com-dom/a04-alterando-estilos/estilos.css
codigos_professor_aulas/c05-interacao-com-dom/a04-alterando-estilos/index.html
codigos_professor_aulas/c05-interacao-com-dom/a04-alterando-estilos/script.js
codigos_professor_aulas/c06-orientacao-objetos-em-js/a01-instanciando-objetos/index.html
codigos_professor_aulas/c06-orientacao-objetos-em-js/a01-instanciando-objetos/objetos.js
codigos_professor_aulas/c06-orientacao-objetos-em-js/a02-prototype-chain/index.html
codigos_professor_aulas/c06-orientacao-objetos-em-js/a02-prototype-chain/objetos.js
codigos_professor_aulas/c06-orientacao-objetos-em-js/a03-classes/classes.js
codigos_professor_aulas/c06-orientacao-objetos-em-js/a03-classes/index.html
codigos_professor_aulas/c07-js-moderno/a01-let-const/index.html
codigos_professor_aulas/c07-js-moderno/a01-let-const/script.js
codigos_professor_aulas/c07-js-moderno/a02-arrow-functions/index.html
codigos_professor_aulas/c07-js-moderno/a02-arrow-functions/script.js
codigos_professor_aulas/c07-js-moderno/a03-manipulando-arrays/index.html
codigos_professor_aulas/c07-js-moderno/a03-manipulando-arrays/script.js
codigos_professor_aulas/c07-js-moderno/a03-manipulando-arrays/usPresidents.js
codigos_professor_aulas/c07-js-moderno/a04-modulos/index.html
codigos_professor_aulas/c07-js-moderno/a04-modulos/modulo1.js
codigos_professor_aulas/c07-js-moderno/a04-modulos/modulo2.js
codigos_professor_aulas/c07-js-moderno/a04-modulos/modulo3.js
codigos_professor_aulas/c08-requisicoes-http/a01-fetch-api/index.html
codigos_professor_aulas/c08-requisicoes-http/a01-fetch-api/script.js
codigos_professor_aulas/c08-requisicoes-http/a02-promises/index.html
codigos_professor_aulas/c08-requisicoes-http/a02-promises/script.js
codigos_professor_aulas/c08-requisicoes-http/a03-async-await/index.html
codigos_professor_aulas/c08-requisicoes-http/a03-async-await/script.js
codigos_professor_aulas/c08-requisicoes-http/a04-tratamento-erros/index.html
codigos_professor_aulas/c08-requisicoes-http/a04-tratamento-erros/script.js
codigos_professor_aulas/c08-requisicoes-http/a04.1-desafio-crud/base/index.html
codigos_professor_aulas/c08-requisicoes-http/a04.1-desafio-crud/base/main.js
codigos_professor_aulas/c08-requisicoes-http/a04.1-desafio-crud/solucao/http.js
codigos_professor_aulas/c08-requisicoes-http/a04.1-desafio-crud/solucao/index.html
codigos_professor_aulas/c08-requisicoes-http/a04.1-desafio-crud/solucao/main.js
codigos_professor_aulas/c08-requisicoes-http/a04.1-desafio-crud/solucao/styles.css
codigos_professor_aulas/c09-tarefas-periodicas-e-temporizadas/a01-setTimeout/index.html
codigos_professor_aulas/c09-tarefas-periodicas-e-temporizadas/a01-setTimeout/script.js
codigos_professor_aulas/c09-tarefas-periodicas-e-temporizadas/a02-setInterval/index.html
codigos_professor_aulas/c09-tarefas-periodicas-e-temporizadas/a02-setInterval/script.js
codigos_professor_aulas/c09-tarefas-periodicas-e-temporizadas/a03-requestAnimationFrame/index.html
codigos_professor_aulas/c09-tarefas-periodicas-e-temporizadas/a03-requestAnimationFrame/script.js
