.logo {
  width: 150px;
  margin: -4px 8px 0 8px;
  height: 30px;
  background-image: url(img/sprites.svg);
  background-position: 0 -500px;
}

#placeholder-content{
  height: 800px;
}

#placeholder-footer {
  height: 100px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}


header{
  background-color: rgb(250, 250, 251);
  border-top: 3px solid rgb(244, 128, 36);
}

nav a.current{
  background-color: #eff0f1;
  color: #0c0d0e;
  text-decoration: none;
  border-right: 3px solid rgb(244, 128, 36);
  font-weight: 700;
}

h1 {
  font-size: 27;
  font-weight: 400;
}

.panel {
  border: 1px solid rgb(214, 217, 220);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
  margin-bottom: 16px;
}

.panel > h2 {
  background-color: #fafafb;
  margin: 0;
  padding: 12px 15px;
  font-size: 15px;
  color: rgb(83, 90, 96);
  font-weight: 400;
  border-bottom: 1px solid rgb(214, 217, 220);
}

.panel > div {
  padding: 12px 15px;
}

footer {
  background-color: #242729;
  color: #6c8d95;
}